<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JAV- web sex top 1 vietnam</title>
       <!--<link rel="stylesheet" href="css/style.css">--> 
        <style>

            
header{
    background-color: #181818	;
    line-height: 25px ;
    margin-bottom: 30px;
    position: relative;
    

}
h1{
    padding: 25px 15px;
    color: white;
    display: inline-block;
    float: left;
    background: #696969;

}
header nav a{
    color: #DCDCDC;
    text-decoration: none;
    display: inline-block;
    padding: 30px 10px;
    text-transform: uppercase;
    
}
header nav{
    padding-left: 250px;
}
header nav a:hover{
    color: #3300CC;
    background-color: black;
    cursor: pointer;
}

.search-bar{
    
    position: absolute;
    right: 15px;
    top: 90px;
    border-radius: 10px;
    margin-left: 16px;
    margin-top: 16px;
    display: block;
    
    background-color: #696969;
}
main section{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
}
footer{
    background-color:#181818 ;
    
}

footer p:first-child{
    
    float: left;
    width: 30%;
    padding-right: 190px;
    color: #C0C0C0	;
    margin-left: 25px;
    text-align: left;
}
footer p:last-child{
    color: #C0C0C0;
}
footer table tr th{
    color: #C0C0C0;
    text-align: left;
    
}
footer table tr td a{
    text-decoration: none;
    color: blue;
    padding-right: 90px;
}


        </style>

    </head>
</html>

<body>
    <header>

        <h1> JAVVN.NET </h1>
        <nav>

            <a href="https://javvn.net/sex/xxx/">XXX</a>
            <a href="https://javvn.net/sex/xnxx/">XNXX</a>
            <a href="https://javvn.net/sex/vlxx/">VLXX</a>
            <a href="https://javvn.net/sex/sextop1/">SEXTOP1</a>
            <a href="https://javvn.net/sex/phim-sex-vietsub/">SEX VIETSUB</a>
            <a href="https://javvn.net/sex/phim-sex-trung-quoc/">Trung Quốc</a>
            <a href="https://javvn.net/sex/phim-sex-nhat-ban/">Nhật Bản</a>
            <a href="https://javvn.net/sex/phim-sex-loan-luan/">Loạn Luân</a>
            <a href="https://javvn.net/sex/phim-sex-gai-xinh/"> Gái xinh</a>
            <a href="https://javvn.net/sex/phim-sex-khong-che/">không che</a>
            <a href="https://xnxxvn.me/phim-sex-gay/"> Sẽ Gầy </a>

        </nav>

       

    </header>
    
        <div class="search-bar" >
            
            <input type="search" placeholder="search"> 

        </div>
    
       
    <main>
        <section>
            <img src="http://127.0.0.1:5500/STUDY%20SE%20THIRD%20TERM/WED201c/jav/css/img/yua-mikami-khoe-anh-thien-nhien-100-ngoai-vuon-khien-fan-nam-ran-ran-xin-lam-hang-xom-72c-6068316.jpg" alt="">
            <img src="http://127.0.0.1:5500/STUDY%20SE%20THIRD%20TERM/WED201c/jav/css/img/melody-marks-2.jpg" alt="">
        </section>

    </main>

    <footer>
        <p class="first-one">JAVVN.NET trang phim JAV lớn nhất hiện nay trên internet nếu như bạn yêu thích các idol như Yua Mikami, Yui Hatano,Eimi Fukada hãy cùng ghé thăm và xem trọn bộ phim sex JAV của các idol nhé .Bên cạnh đó bạn cũng có thể xem thêm những bộ phim sex hay của trung quốc hay hàn quốc thậm chí mỹ, châu âu .JAVVN cam kết mang thế giới khiêu dâm lên giường của bạn .Không thể bỏ qua những bộ phim bom tấn được vietsub cực hấp dẫn các bạn nhé

        </p>

        <table>

            <tr>
                <th>JAV</th>
                <th>JAV HD</th>
                <th>PHIM SEX JAV</th>
            </tr>

            <tr>
               
                <td> <a href="">Phim địt nhau </a> </td>
                <td> <a href=""> PHIMXES.VIDEO </a> </td>
                <td> <a href=""> Phim sex </a> </td>
                
            </tr>

            <tr>
                <td> <a href="">Phim sex châu âu</a> </td>
                <td> <a href=""> PHIMSEXMY.VIP </a> </td>
                <td> <a href="">Phim sex học sinh</a> </td>
            </tr>

            <tr>
                <td> <a href="">Phim sex hàn quốc</a> </td>
                <td> <a href=""> XNXX1080.TOP </a> </td>
                <td> <a href=""> Phim sex mỹ </a> </td>
            </tr>
            <tr>
                <td> <a href=""> Phim sex hay </a> </td>
                <td> <a href=""> PHIMNGUOILON.PRO </a> </td>
                <td> <a href=""> Phim sex tập thể </a> </td>
            </tr>
            <tr>
                <td> <a href="">Phim sex hiếp dâm</a> </td>
                <td> <a href=""> PHIMSEXDONGTINH.NET </a> </td>
                <td> <a href=""> Phim sex việt nam </a> </td>
            </tr>


        </table>
         <p class="last-one" >© 2022 by JAVVN.NET. All Rights Reserved. Powered by Theme XXX</p>

    </footer>
    
</body>